.container {
    display: flex;
    width: 40%;
    justify-content: center;
    flex-direction: column;
}

#right {
    display: flex;
    flex-direction: column;
    width: 60%;
}

p {
    margin: 10px;
}

#card-left {
    margin: 0 30px;
    padding: 50px 10px;
    height: 800px;
}

.card-right {
    margin: 0 30px 30px 0;
    width: 100%;
}

.card-image {
    display: flex;
}